* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: rgb(42, 53, 71);
  /* font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.334rem; */
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

/*--------------- Typography CSS ---------------*/
h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.6rem;
}

h5 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6rem;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
}

.subtitle1 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
}

.body1 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.334rem;
}

.body2 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.caption {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
}

.overline {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  text-transform: uppercase;
}
/*--------------- End Typography CSS ---------------*/


.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/*--------------- Navigation CSS ---------------*/
.navigation {
  display: none;
  width: 270px;
  flex-shrink: 0;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* flex: 1 0 auto; */
  /* z-index: 1200; */
  position: fixed;
  top: 0px;
  /* outline: 0px; */
  left: 0px;
  border-right: 1px solid rgb(229, 234, 239);
  /* border-top-color: rgb(229, 234, 239); */
  /* border-bottom-color: rgb(229, 234, 239); */
  /* border-left-color: rgb(229, 234, 239); */
  transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 270px;
  box-sizing: border-box;
}

.logo {
  padding-left: 24px;
  padding-right: 24px;
}

.logo-svg {
  display: flex; 
  align-items: center;
  height: 70px;
  width: 180px;
  overflow: hidden;
}

.navbar-body {
  max-height: 100%;
  height: calc(100% - 190px);
  overflow: auto;
}

.navbar-wrapper {  
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.navbar-content {
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-items {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 8px;
  position: relative;
}

.nav-sub-header {
  box-sizing: border-box;
  list-style: none;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 0px;
  color: rgb(42, 53, 71);
  padding: 3px 12px;
  margin-left: -10px;
}

.nav-item {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.nav-item > a {
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 0px 2px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 7px;
  background-color: inherit;
  color: rgb(42, 53, 71);
}

.icon-nav-item {
  flex-shrink: 0;
  display: inline-flex;
  min-width: 36px;
  padding: 3px 0px;
  color: inherit;
}

.nav-item-text {
  flex: 1 1 auto; 
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}

.nav-item-noti {
  max-width: 100%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 190, 255);
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: unset;
  outline: 0px;
  text-decoration: none;
  border: 0px;
  padding: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 0.75rem;
}

.ni-noti-la {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}

.navbar-footer {
  display: flex;
  margin: 24px;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 7px;
  background-color: rgb(232, 247, 255);
}

.nb-profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.power {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(93, 135, 255);
  padding: 5px;
  font-size: 1.125rem;
  margin-left: auto;
}
/*--------------- End Navigation CSS ---------------*/

/*--------------- Container CSS ---------------*/
.container {
  /* display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1; */
  padding-bottom: 60px;
  /* flex-direction: column;
  z-index: 1; */
  width: 100%;
  /* background-color: transparent; */
}

/* Header CSS */
.header {
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  /* flex-shrink: 0; */
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  /* box-sizing: border-box; */
  /* z-index: 1100; */
  /* left: auto; */
  /* right: 0px; */
  color: rgb(42, 53, 71);
  /* box-shadow: none; */
  background: rgb(255, 255, 255);
  /* -webkit-box-pack: center; */
  /* backdrop-filter: blur(4px); */
}

.header-hover:hover {
  background-color: rgba(42, 53, 71, 0.1);
} 
/* .header-content {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  width: 100%;
  color: rgb(42, 53, 71);
} */

/* .hover-grey-background {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.grey-background {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 12px;
  font-size: 1.75rem;
} */


/* Left Header CSS */
.left-header {
  display: flex;
  align-items: center;
  color: rgb(42, 53, 71);
  
  /* letter-spacing: 1px; */
}

.btn-control-navbar {
  display: inline-flex;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  padding: 8px;
}

.btn-search-menu {
  display: inline-flex;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  padding: 12px;
}

.header-apps-dropmenu {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding: 5px 15px;
  border: 0;
  background-color: transparent;
}

.icon-dropdown {
  display: inherit;
  margin-right: -4px;
  margin-left: 8px;
}

.icon-dropdown > svg {
  margin-left: -5px;
  margin-top: 2px;
}

.header-menu {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px currentcolor;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  border-radius: 7px;
  padding: 5px 15px;
  color: rgb(42, 53, 71);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none;
  box-shadow: none;
}

/* Right Header CSS */
.right-header {
  display: flex;  
  flex-direction: row;
  align-items: center;
}

.rh-border {
  border: 0;
  border-radius: 50%;
}

.lang {
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  background-color: inherit;
}

.lang-menu-en {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.rh-ml {  
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  padding: 12px;
  background-color: inherit;
}

.rh-item {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
}

.topRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

.show-shopping-cart {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
  min-width: 20px;
  padding: 0px 6px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(250, 137, 107);
  color: rgb(255, 255, 255);
  /* transform: scale(1) translate(50%, -50%); */
  transform-origin: 100% 0%; 
}

.show-notification {
  display: flex;
  min-width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(93, 135, 255);
  transform: scale(1) translate(50%, -50%);
}

.profile {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.icon-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-header-menu {
  display: inherit;
}


/* Content CSS */
.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  border-radius: 7px;
}

.contents {
  display: grid;
  grid-template-rows: 161.44px 161.44px 161.44px 161.44px 161.44px 161.44px 850px 495px 453.72px 698px 459.09px 471.03px 474.72px;
  gap: 24px;
}

.content {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  overflow: hidden;
  width: 100%;
  background-image: none;
  padding: 0px;
  border: none;
}

.contents {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  /* grid-template-rows: 161.82px 510.54px 453.68px 470.94px; */
  gap: 24px;
  /* min-height: calc(-150px + 100vh); */
}

@media (min-width: 600px) {
  .grid-col-span2 { grid-column-end: span 2; }
  .grid-col-span3 { grid-column-end: span 3; }
  .grid-col-span4 { grid-column-end: span 4; }
  .grid-col-span5 { grid-column-end: span 5; }
  .grid-col-span6 { grid-column-end: span 6; }

  .header {
    min-height: 70px;
    padding-left: 24px;
    padding-right: 24px;
  } 

  .main-content {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contents {
    grid-template-columns: auto auto auto;
    grid-template-rows:  161.44px 161.44px 510.56px 243px 453.72px 453.56px 459.09px 471.03px 474.72px;  
  }
}

@media (min-width: 1200px) {  
  .grid-span2 { grid-column-end: span 2; }
  .grid-span3 { grid-column-end: span 3; }
  .grid-span4 { grid-column-end: span 4; }
  .grid-span5 { grid-column-end: span 5; }
  .grid-span6 { grid-column-end: span 6; }
  
  .navigation {
    display: initial;
  }

  .header-menu {
    display: inline-flex;
  }

  .show-header-menu {
    display: none;
  }

  .main-content {
    max-width: 1200px;
  }

  .contents {
    grid-template-columns: auto auto auto auto auto auto; 
    grid-template-rows: 161.82px 510.54px 453.68px 470.94px;  
  }

 
}