* {
  box-sizing: border-box;
  /* border-radius: 7px; */
}

body {
  margin: 0;
  color: rgb(42, 53, 71);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.334rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* Navigation CSS */
.navigation {
  width: 270px;
  flex-shrink: 0;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* flex: 1 0 auto; */
  /* z-index: 1200; */
  position: fixed;
  top: 0px;
  /* outline: 0px; */
  left: 0px;
  border-right: 1px solid rgb(229, 234, 239);
  /* border-top-color: rgb(229, 234, 239); */
  /* border-bottom-color: rgb(229, 234, 239); */
  /* border-left-color: rgb(229, 234, 239); */
  transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 270px;
  box-sizing: border-box;
}

.logo {
  padding-left: 24px;
  padding-right: 24px;
}

.logo-svg {
  display: flex; 
  align-items: center;
  height: 70px;
  width: 180px;
  overflow: hidden;
}

.container {
  /* display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1; */
  padding-bottom: 60px;
  /* flex-direction: column;
  z-index: 1; */
  width: 100%;
  /* background-color: transparent; */
}

/* Header CSS */
.header {
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  /* flex-shrink: 0; */
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  /* box-sizing: border-box; */
  /* z-index: 1100; */
  /* left: auto; */
  /* right: 0px; */
  color: rgb(42, 53, 71);
  /* box-shadow: none; */
  background: rgb(255, 255, 255);
  /* -webkit-box-pack: center; */
  /* backdrop-filter: blur(4px); */
}

/* .header-content {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  width: 100%;
  color: rgb(42, 53, 71);
} */

/* .hover-grey-background {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.grey-background {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 12px;
  font-size: 1.75rem;
} */


/* Left Header CSS */
.left-header {
  color: rgb(42, 53, 71);
}

.header-apps-dropmenu {
  /* display: inline-flex; */
  vertical-align: middle;
  align-items: center;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.header-apps-dropmenu > .dropdown-icon {
  margin-left: 2px;
}

/* .header-menu {
  text-decoration: none;
  padding: 5px 15px;
  color: rgb(42, 53, 71);
  background-color: transparent;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  vertical-align: middle;
  align-items: center;
  min-width: 64px;
} */


/* Right Header CSS */
.right-header {
  display: flex;  
  /* align-items: center; */
  flex-direction: row;
  align-items: center;
}

.lang {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.lang-menu-en {
  /* width: 100%;
  height: 100%; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.rh-ml {  
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  padding: 12px;
  display: inline-flex;
  vertical-align: middle;
  /* color: inherit; */
}
/* 
.shopping-cart {
  padding: 12px;
  position: relative;
  cursor: pointer;
} */

/* .icon-shopping-cart {
  display: inline-flex;
  vertical-align: middle;
} */

.topRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

.show-shopping-cart {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
  min-width: 20px;
  padding: 0px 6px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(250, 137, 107);
  color: rgb(255, 255, 255);
 
  /* transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%; */
}

.show-notification {
  display: flex;
  min-width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(93, 135, 255);
  /* transform: scale(1) translate(50%, -50%); */
}

.btn-profile {
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

.profile {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: transparent; */
}

.icon-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .header {
    min-height: 70px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .header {
    min-height: 70px;
  }
}

/* Content CSS */
.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  border-radius: 7px;
}

.contents {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 161.82px 510.54px 453.68px 470.94px;
  gap: 24px;
  /* min-height: calc(-150px + 100vh); */
}

.content {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  overflow: hidden;
  width: 100%;
  background-image: none;
  padding: 0px;
  border: none;
}

.grid-column-span-4 {
  grid-column-end: span 4;
}

.grid-column-span-2 {
  grid-column-end: span 2;
}

@media (min-width: 600px) {
  .main-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
  }
}